:root {
  --color-primary: #1b1b1b;
  --color-secodary: #ffffff;
  --color-treansparent: rgba(35, 35, 35, 0.53);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}
html {
  scroll-behavior: smooth;
}
.container {
  max-width: 1140px;
  margin: auto;
}
/*-------------------------nav!-------------------------------------*/
.hidden {
  display: none;
}
.nav {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #1b1b1bb0;
  z-index: 2;
  left: -200vw;
  transition: 0.5s all linear;
}
.nav .cont-links-nav {
  width: 40%;
  background-color: var(--color-primary);
  height: 100%;
  border-radius: 0 90% 90% 0;
}
.nav .cont-links-nav .links {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav .cont-links-nav .links a {
  color: var(--color-secodary);
  text-decoration: none;
  font-weight: bold;
  margin: 15px;
}
.button-nav {
  position: fixed;
  right: 10px;
  z-index: 3;
  top: 10px;
  transform: rotate(-90deg);
  transition: 0.5s all linear;
  cursor: pointer;
  animation: moveInitial 1s linear;
}
.button-nav-active {
  transform: rotate(90deg);
}
.nav-active {
  left: 0;
}
.active-nav-link {
  width: 40%;
  background-color: var(--color-secodary);
  color: var(--color-primary) !important;
  border-radius: 50px;
}
/*------------------------header!----------------------------------*/
header {
  width: 100%;
  height: 100vh;
}
.background {
  background-image: url("../assets/img/background.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.cont-info-header {
  width: 40%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--color-secodary);
}
.cont-img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: var(--color-secodary);
  background-image: url("../assets/img/brayan_2.png");
  background-size: cover;
}
.icon-bottom {
  width: 40px;
  height: 40px;
  background-color: var(--color-treansparent);
  margin: 10px;
  transform: rotate(-135deg);
  display: flex;
  flex-direction: column;
  padding: 0 15px 15px 0;
}
.icon-bottom span {
  width: 40px;
  height: 5px;
  background-color: var(--color-secodary);
  position: relative;
  margin: 0;
}
.icon-bottom span:nth-child(2) {
  width: 5px;
  height: 40px;
}
.icon-bottom img {
  width: 100%;
  transform: rotate(180deg);
}
/*--------------------------------main!---------------------------------------------*/
.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.description h3 {
  margin-top: 50px;
}
.grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin-top: 50px;
}
.card {
  /*border: 1px solid #e2e2e2;*/
  border: none;
  box-shadow: 4px 5px 8px 0px #d2d2d2;
  margin: 5%;
  border-radius: 10px;
  overflow: hidden;
}
.img-card {
  width: 100%;
  overflow: hidden;
}
.img-card img,
.logo-card img {
  width: 100%;
}
.main-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3%;
}
.logo-card {
  width: 35%;
  margin-top: -59px;
}
.background-black,
.background-black2 {
  background-image: url(../assets/img/background_dark.png);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
}
.background-black2 {
  background-image: url("../assets/img/background_dark_right.png");
  background-position: left;
}
.background-black img,
.background-black2 img {
  margin: 10%;
  width: 80%;
} /*----------------------------gallery!-----------------------------------------*/
.post-gallery img,
.info-gallery img {
  width: 100%;
}
.info-gallery {
  margin-top: -12%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.info-gallery img {
  border-radius: 50%;
  width: 10%;
  background-color: #00000045;
  margin: 0 5px 0 5px;
}
.info-gallery p {
  color: var(--color-secodary);
  font-weight: bold;
  text-shadow: 1px 1px 6px black;
}
#gallery p {
  padding: 10px;
}
/*--------------------------Footer!----------------------------------------------------*/
footer {
  margin-top: 50px;
  background-image: url("../assets/img/footer.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
footer .links-redes a img {
  width: 100px;
  margin: 50px;
}
footer .con-img-footer img {
  margin: 8%;
  transform: rotate(180deg);
}
/*------------------------------design-----------------------------------------*/
.desing {
  margin: 20px auto 20px auto;
}
.desing-pre {
  display: flex;
}
.cont-pre-desing {
  cursor: pointer;
  width: 50%;
  height: 300px;
  overflow: hidden;
}
.card:hover {
  box-shadow: 4px 5px 13px 3px #d2d2d2;
}
.max,
.min,
.close {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: auto 3px;
}
.min {
  background-color: #2aca44;
}
.max {
  background-color: #ffbe2e;
}
.close {
  background-color: #ff5f5a;
  cursor: pointer;
}
.head-image-destacada {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  background-color: #1c1e26;
}
/*---------------------------------animations!------------------------------------------*/
@keyframes moveInitial {
  50% {
    right: 2px;
  }
}

/*-------------------responsive!---------------------------------------------------------*/
@media screen and (max-width: 1000px) {
  footer .con-img-footer img {
    margin: 5%;
  }
}
@media screen and (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
  .card {
    width: 70%;
    box-shadow: 4px 5px 8px 0 #d2d2d2;
    margin: auto;
  }
  .cont-info-header h1 {
    font-size: 20px;
  }
  .cont-img {
    width: 200px;
    height: 200px;
  }
  .nav .cont-links-nav {
    width: 100%;
    border-radius: 0;
  }
  .cont-pre-desing {
    margin: 15px auto 15px auto;
  }
  .desing-pre {
    display: block;
  }
}
@media screen and (max-width: 325px) {
  footer {
    background-image: url("../assets/img/footer-mobil.png");
  }
  .card {
    width: 90%;
  }
}
